.container {
  margin: 3em auto;
  max-width: 22em;
  border-radius: 15px;
}


.blue-square {
  max-width: 10em;
  padding: 3em 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background-color: steelblue;
  border-radius: 15px;
  color: white;
}

.blue-square  h1 {
  text-align: center;
}

.blue-square h2 {
  text-align: center;
  font-size: 2em;
  margin-top: -.5em;
}

.template {
  column-count: 2;
}

.hidden {
  display: none;
}

body {
  color: darkgray;
}

h1, h2, h3, #credits {
  font-family: 'Josefin Sans';
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}

p, #geolocation {
  text-align: center;
  font-family: 'Josefin Sans';
}

#geolocation {
  text-align: center;
}

hr {
  max-width: 20em;
  border-style: dashed;
}

/* Drop down list */

/*  ul {list-style: none;padding: 0px;margin: 0px;}*/
#drop-down {
  font-size: 1em;
  background-color: darkslateblue;
  color: white;
  border: solid .5em darkslateblue;
  font-family: 'Josefin Sans';

}


/* Search results */

.search-field {
  text-align: center;
}

dl {
  width: 200px;
  background-color: ghostwhite;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

dt {
  font-family: 'Josefin Sans';
  font-weight: 600;
  line-height: 150%;
  margin-left: 10px;
  color: steelblue;
}

dd {
  font-family: 'Josefin Sans';
  line-height: 150%;
  color: darkgray;
}

ul {
  margin: 0;
  padding: 0;
}

#button {
  font-size: 1em;
  color: white;
  padding: 1.75em .75em;
  background-color: steelblue;
  border-radius: 10px;
  border: none;
  font-family: 'Josefin Sans';
}

input[type="submit"] {
  white-space: normal;
  width: 100px;
}

.result {
  color: black;
  border-radius: 15px;
}

.run-search {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

/* Credits */

#credits {
  text-align: center;
  font-size: .75em;
}

#credits img {
  padding-top: 1em;
  padding-bottom: 3em;
}
