.container {
  margin: 3em auto;
  padding: 3em;
  width: 600px;
  background-color: steelblue;
  border-radius: 15px;
}

.hidden {
  display: none;
}

body {
  color: white;
}

h1, h3 {
  font-family: 'Nixie One';
  font-weight: 400;
}

p {
  font-family: 'Josefin Sans';
}

dl {
  width: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

dt {
  font-family: 'Josefin Sans';
  font-weight: 600;
  line-height: 150%;
  margin-left: 10px;
  color: darkgray;
}

dd {
  font-family: 'Josefin Sans';
  line-height: 150%;
  color: black;
}

#button {
  font-size: 1em;
  color: steelblue;
  padding: .5em .75em;
  background-color: white;
  border-radius: 10px;
  border: none;
  font-family: 'Josefin Sans';
  margin-left: 1em;
}

#geolocation {
  color: black;
}

.result {
  color: black;
}
